<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Carrito</title>
    
</head>
<body>
    <h1>Detalles del Carrito</h1>
    <a href="/"><button>Regresar al Home</button></a>

    <!-- Detalles del carrito -->
    <div>
        <strong>ID del Carrito:</strong> {{cart._id}}<br>
        <strong>Productos:</strong>
        <ul>
            {{#each cart.products}}
                <li>
                    {{#if this.product}}
                        <strong>Producto:</strong> {{this.product.title}}<br>
                        <strong>Cantidad:</strong> {{this.quantity}}<br>
                        <strong>Precio Unitario:</strong> ${{this.product.price}}<br>
                        
                    {{else}}
                        <strong>Producto:</strong> <span style="color: red;">Producto no encontrado</span><br>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
        
    </div>
    
</body>
</html>